DB_SERVER=postgres
DB_USER=postgres
DB_PORT=5432
DATABASE=sistema-OS
DB_PASSWORD=postgres


JWT_SECRET=M9MSw68pYsHzTi9mB0af5oUjlDQQinrj38lISpQsvsh

R2_IDCLOUDFLARE=
R2_KEYID=
R2_SECRETKEY=
R2_BUCKET_NAME_MAQUINARIO=
R2_BUCKET_NAME_PEQUENOS_REPAROS=
R2_BUCKET_NAME_OS_SERVICO=